<h1> Create New Post </h1>

<form action="/add_post" method="post">
	<input type = "text" name = "title" placeholder="post title">
	<input type = "text" name = "content" placeholder = "write content here">
	<input type = "text" name = "category" placeholder = "what category?">
	<input type = "text" name = "author" placeholder = "author">
	<button type = "submit"> Add Post </button>
</form>